name: Build and deploy ASP.Net Core app to Azure Web App - js-maintenance-webapi-jaimin158

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Restore dependencies
        run: dotnet restore ./Maintenance.WebAPI/JSMaintenance.WebAPI.csproj

      - name: Build project
        run: dotnet build ./Maintenance.WebAPI/JSMaintenance.WebAPI.csproj -c Release --no-restore

      - name: Publish project
        run: dotnet publish ./Maintenance.WebAPI/JSMaintenance.WebAPI.csproj -c Release -o ./publish --no-build

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: webapi-publish
          path: ./publish

  deploy:
    runs-on: ubuntu-latest
    needs: build

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: webapi-publish
          path: ./publish

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_53EA1149C9FE4A31A26A7201FADC235B }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_704275C6C0754CA69D9C907836439811 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_1963F38E95E2455A82759200B0CA348F }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "js-maintenance-webapi-jaimin158"
          slot-name: "Production"
          package: ./publish
